!!! 5
%html
  %head
    %title l.aydar.media
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{name: "apple-mobile-web-app-title", content: "l.aydar.media"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "black-translucent"}
    %link{rel: "apple-touch-icon", href: "apple-touch-icon.png"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application"
    = javascript_importmap_tags
  %body
    = yield
